APP_DEBUG=true[APP]DEFAULT_TIMEZONE=Asia/Shanghai[LANG]default_lang=zh-cn[DATABASE]TYPE=mysqlHOSTNAME=192.168.200.111DATABASE=baseUSERNAME=rootPASSWORD=123456HOSTPORT=3448CHARSET=utf8DEBUG=true[REDIS]HOST=192.168.200.111PORT=6727PASSWORD=123456DB=0[JWT]KEY=293fdb58f1c8215468a9e37bd719524f[WECHAT]MINI_PROGRAM_APPID=微信小程序管理后台-开发-开发管理-开发设置-AppIDMINI_PROGRAM_SECRET=微信小程序管理后台-开发-开发管理-开发设置-AppSecretOFFICIAL_ACCOUNT_APPID=微信公众号管理后台-设置与开发-基本配置-AppIDOFFICIAL_ACCOUNT_SECRET=微信公众号管理后台-设置与开发-基本配置-AppSecret